
@{
    ViewData["Title"] = "Index";
}

<h1>Strona Główna</h1>

@if (User.Identity.IsAuthenticated)
{
    <div>Użytkownik Zalogowany.</div>
    <a asp-controller="Role" asp-action="Index">Zarządzanie rolami</a>
}
else
{
    <div>Użytkownik Niezalogowany.</div>
}

<a asp-controller="Account" asp-action="Register">Rejestracja</a>
<a asp-controller="Account" asp-action="LogIn">Zaloguj</a>
